.sp-menu {
	color: #FF1D00;
}

.redux-notice-field.redux-success {
    background: #BAFF86;
}

#info-th-opt-info-rate {
    background: #45c3c7;
    color: #fff;
}

#info-th-opt-info-rate {
    border-left: none;
}

#info-th-opt-info-rate h4 {
    display: inline-block;
    font-size: 24px;
}

#info-th-opt-info-rate a {
    color: #f5f5f5;
}

#info-opt-info-field {
    background: #fff;
    border-left: none;
}

.thgreen {
    background-color:#44c767;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    width: 230px;
    text-align: center;
}
.thgreen:hover {
    background-color:#5cbf2a;
    color: #ffffff;
}
.thgreen:active {
    position:relative;
    top:1px;
    color: #ffffff;
}


/* Light Brown */
.thbrown {
    background-color:#f29e0d;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #c2841f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7a7a7a;
    width: 230px;
    text-align: center;
}
.thbrown:hover {
    background-color:#fcad26;
    color: #ffffff;
}
.thbrown:active {
    position:relative;
    top:1px;
    color: #ffffff;
}

/* Light green */

.thlgreen {
    background-color:#45c3c7;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #349A9B;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7a7a7a;
    width: 230px;
    text-align: center;
}
.thlgreen:hover {
    background-color:#51dee0;
    color: #ffffff;
}
.thlgreen:active {
    position:relative;
    top:1px;
    color: #ffffff;
}

/* BLue */

.thblue {
    background-color:#5cbbf6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #398DBF;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7a7a7a;
    width: 230px;
    text-align: center;
}
.thblue:hover {
    background-color:#82d1ff;
    color: #ffffff;
}
.thblue:active {
    position:relative;
    top:1px;
    color: #ffffff;
}

/* Purple */

.thpurple {
    background-color:#813aa0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #65287F;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7a7a7a;
    width: 230px;
    text-align: center;
}
.thpurple:hover {
    background-color:#a64ecc;
    color: #ffffff;
}
.thpurple:active {
    position:relative;
    top:1px;
    color: #ffffff;
}

/* red */
.thred {
    background-color:#e4685d;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #a85b56;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7a7a7a;
    width: 230px;
    text-align: center;
}
.thred:hover {
    background-color:#f7908b;
    color: #ffffff;
}
.thred:active {
    position:relative;
    color: #ffffff;
    top:1px;
}